@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.header {
  width: 100%;
  height: var.$height__header;

  border-bottom: 2px solid map-get(colors.$card, 'dark');
  @include mixins.flex(row, space-between, center);

  position: relative;
}

.main-title {
  height: 100%;
  cursor: pointer;
  @include mixins.flex(row, center, center);
}
.logo-icon {
  font-size: 3rem;
}

.main-title h1 {
  height: 100%;
  font-size: 1.5rem;
  font-family: 'Mirza';
  text-transform: uppercase;

  @include mixins.flex(column, flex-end, flex-start);
}

.title-line {
  letter-spacing: 1px;
  line-height: 1rem;
}

.line-1 {
  letter-spacing: 1.5px;
}
.line-2 {
  letter-spacing: 0.85px;
}
.line-3 {
  letter-spacing: normal;
}
.nav-links {
  padding: 0;
  display: none;
  @include mixins.breakpoint('>=md') {
    @include mixins.flex(row, space-around, center);
  }
}

.nav-link {
  cursor: pointer;
  padding: 0 1rem;
  transition: all 0.25s ease-out;
}

.nav-link:hover {
  filter: brightness(1.35);
}
