@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.header {
  width: 100%;
  height: var.$height__header;

  border-bottom: 2px solid map-get(colors.$card, 'dark');
  @include mixins.flex(row, space-between, center);

  position: relative;
}

.main-title {
  cursor: pointer;
  @include mixins.flex(column, center, center);
}
.logo-icon {
  font-size: 3rem;
}

.main-title h1 {
  font-size: 1.5rem;
  font-family: 'Mirza';
  text-align: justify;
  text-transform: uppercase;
  @include mixins.flex(column, center, flex-start);

  position: absolute;
  left: 3rem;
  top: 1.25rem;
}

.title-line {
  letter-spacing: 1px;
  line-height: 1rem;
}

.line-1 {
  letter-spacing: 1.5px;
}
.line-2 {
  letter-spacing: 0.85px;
}
.line-3 {
  letter-spacing: normal;
}
.nav-links {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  cursor: pointer;

  transition: all 0.25s ease-out;
}

.nav-link:hover {
  filter: brightness(1.35);
}
