@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.container {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.image-container {
  height: 100%;
  background-color: map-get(colors.$grey, 'darker');

  @include mixins.breakpoint('>=md') {
    grid-column: 7 / 13;
  }
}

.heading {
  @include mixins.breakpoint('>=md') {
    grid-column: 1 / 7;
  }
}
.subheading {
  @include mixins.breakpoint('>=md') {
    grid-column: 1 / 7;
  }
}
.features {
  @include mixins.breakpoint('>=md') {
    grid-column: 1 / 7;
  }
}

.button {
  @include mixins.breakpoint('>=md') {
    grid-column: 7 / 13;
  }
  @include mixins.action-button-text();
  @include mixins.outlined-button($borderRad: 0 1rem);
}
