@use '../../scss/abstracts/colors' as colors;

.features-grid {
  padding: 0;
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.feature-card {
  background-color: map-get(colors.$card, 'dark');
}

.feature-icon {
  font-size: 3rem;
}
