@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.container {
  background-color: map-get(colors.$card, 'dark');
  height: 50vh;

  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.map {
  grid-column: 1 / 7;
  border: 1px solid map-get(colors.$grey, 'darker');
}

.contact {
  grid-column: 7 / 13;
}
