@use '../abstracts/colors' as colors;
@use '../abstracts/variables' as var;
@use '../util/' as util;

body {
  font-family: 'Overpass', -apple-system, Roboto, Helvetica Neue, sans-serif;
  background-color: map-get(colors.$bg, 'dark');
  color: map-get(colors.$text, 'light');
}

a {
  color: inherit;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

button:hover {
  filter: brightness(1.25);
}
