@use '../scss/abstracts/colors' as colors;
@use '../scss/abstracts/mixins' as mixins;
@use '../scss/abstracts/variables' as var;

.heading {
  height: var.$height__section__heading;
}

.coaches {
  padding: 0 1rem;

  @include mixins.grid();
  gap: 1rem;
}
.card {
  background-color: map-get(colors.$card, 'dark');

  @include mixins.card;

  @include mixins.breakpoint('>=xs') {
    grid-column: span 12;
    height: calc(
      ((100vh - var.$height__header) - var.$height__section__heading) - 1rem
    );
  }

  @include mixins.breakpoint('>=sm') {
    grid-column: span 6;
  }
  @include mixins.breakpoint('>=lg') {
    height: calc(
      ((100vh - var.$height__header) - var.$height__section__heading) / 2 - 1rem
    );
  }
}
.portrait {
  border: 1px solid map-get(colors.$grey, 'dark');
}
