$brand-prim: (
  'main': hsl(340, 100%, 40%),
  'light': hsl(340, 100%, 65%),
  'dark': hsl(340, 100%, 15%),
);

$grey: (
  'cool': hsl(205, 15%, 90%),
  'main': hsl(230, 15%, 90%),
  'dark': hsl(230, 15%, 65%),
  'darker': hsl(210, 15%, 30%),
  'warm': hsl(255, 15%, 90%),
);

$bg: (
  'main': hsl(200, 25%, 95%),
  'dark': hsl(220, 15%, 15%),
);

$card: (
  'main': hsl(205, 15%, 90%),
  'dark': hsl(220, 15%, 20%),
);

$text: (
  'light': hsl(220, 50%, 85%),
);

$success: hsl(140, 65%, 65%);
$error: hsl(0, 75%, 60%);
$info: hsl(200, 65%, 65%);
