/* Mirza */
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');
/* Overpass Mono */
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');
/* Libre Franklin */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Libre Franklin', sans-serif;
    @apply 2xl:text-xl;
    @apply bg-gray-900 text-gray-300;
  }
}

@layer components {
  .outlined-button {
    @apply mx-auto border border-primary-700 bg-inherit px-12 py-4 text-xs font-semibold uppercase tracking-[2px] shadow-md transition hover:shadow-lg hover:brightness-110 2xl:border-2;
  }
  .filled-button {
    @apply my-2 mx-auto bg-gray-800 px-8 py-4 text-xs font-semibold uppercase tracking-wider transition hover:brightness-110;
  }
  .border-theme {
    /* @apply rounded-tl-sm rounded-br-sm rounded-tr-md rounded-bl-md; */
    @apply rounded-tr-md rounded-bl-md;
  }

  .features-card {
    @apply border-theme relative col-span-12 mx-8 grid h-full grid-cols-12 grid-rows-4 bg-gray-700 p-8 pt-16 shadow-lg sm:mx-0 md:col-span-6 lg:col-span-3;
  }

  .features-icon {
    @apply absolute left-[1rem] top-[-1rem] w-fit bg-gray-900 p-4;
  }

  .divider {
    @apply col-span-12 row-span-1 my-auto h-[2px] w-full bg-primary-700;
  }
}

@layer utilities {
  img {
    filter: grayscale(100%);
  }

  .current-page {
    @apply border-b-2 border-primary-700;
  }

  .pattern {
    @apply relative z-10 w-full;
  }

  .pattern::before {
    /* background-image: url('../public/endless-clouds.svg'); */
    @apply absolute top-0 right-0 bottom-0 left-0 z-[-1] bg-[url('../public/endless-clouds.svg')] bg-repeat opacity-[0.125] content-[''];
    /* position: absolute;
    background-repeat: repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.125;
    z-index: -1; */
  }

  .highlight {
    position: relative;
    width: 100%;
  }

  .highlight::before {
    content: '';
    @apply absolute bottom-0 z-[-1] h-[70%] w-full bg-primary-700;
  }

  .image-overlay {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.85) 85%
    );
    height: 100%;
    width: 100%;
  }

  .hero-overlay {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 75%,
      rgba(17, 24, 39, 1) 100%
    );
    height: 100%;
    width: 100%;
  }

  .image-overlay::before {
    content: '';
    position: absolute;
    z-index: 5;
  }

  .section-left {
    @apply md:col-start-1 md:col-end-7 md:row-start-2 md:row-end-7 xl:col-start-1 xl:col-end-7 xl:row-start-2 xl:row-end-7;
  }
  .section-right {
    @apply md:col-start-7 md:col-end-13 md:row-start-2 md:row-end-7 xl:col-start-7 xl:col-end-13 xl:row-start-2 xl:row-end-7;
  }
  .coach-card-left {
    @apply md:col-start-1 md:col-end-7 md:row-start-2 md:row-end-5;
  }
  .coach-card-right {
    @apply md:col-start-7 md:col-end-13 md:row-start-2 md:row-end-5;
  }

  .transition-nav {
    transition: left 0.45s ease, opacity 0.5s ease;
  }
}
