@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;
@use '../../scss/abstracts/variables' as var;

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.image-container {
  height: 100%;
  background-color: map-get(colors.$grey, 'darker');

  @include mixins.breakpoint('>=md') {
    grid-column: 1 / 7;
  }
}

.heading {
  @include mixins.breakpoint('>=md') {
    grid-column: 7 / 13;
  }
}

.intro {
  @include mixins.breakpoint('>=md') {
    grid-column: 7 / 13;
  }
}
